In [20]:
import pandas as pd;
data = pd.read_csv("source_data/datasets_38396_60978_charcters_stats.csv").drop_duplicates();
data

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total
0,3-D Man,good,50,31,43,32,25,52,233
1,A-Bomb,good,38,100,17,80,17,64,316
2,Abe Sapien,good,88,14,35,42,35,85,299
3,Abin Sur,good,50,90,53,64,84,65,406
4,Abomination,bad,63,80,53,90,55,95,436
...,...,...,...,...,...,...,...,...,...
606,Yellowjacket,good,88,10,12,28,12,14,164
607,Yellowjacket II,good,50,10,35,28,31,28,182
608,Ymir,good,50,100,27,100,83,28,388
609,Zatanna,good,75,10,23,28,100,56,292
610,Zoom,bad,50,10,100,28,72,28,288

In [25]:
from sklearn.manifold import TSNE

data2 = data[['Intelligence', 'Strength', 'Speed', 'Durability', 'Power', 'Combat']]

projection = TSNE(n_components=2).fit_transform(data2);
lowd = pd.DataFrame(projection, columns=["X1","X2"]); 
lowd['Name']=data['Name']
lowd

            X1         X2             Name
0    -0.506679  10.226930          3-D Man
1    14.292734  -8.623098           A-Bomb
2     3.929105  18.026947       Abe Sapien
3    22.687597  -2.300559         Abin Sur
4    21.462152  -6.880973      Abomination
..         ...        ...              ...
606  -5.195083   9.536632     Yellowjacket
607  -1.143898   8.382370  Yellowjacket II
608  19.958939  -3.709136             Ymir
609   8.104486   9.869619          Zatanna
610  14.969898   9.719926             Zoom

[611 rows x 3 columns]

In [26]:
tsne = pd.merge(data, lowd, how='outer', on='Name')

tsne.to_csv("derived_data/tsne_characters.csv")
tsne

,Name,Alignment,Intelligence,Strength,Speed,Durability,Power,Combat,Total,X1,X2
0,3-D Man,good,50,31,43,32,25,52,233,-0.506679,10.226930
1,A-Bomb,good,38,100,17,80,17,64,316,14.292734,-8.623098
2,Abe Sapien,good,88,14,35,42,35,85,299,3.929105,18.026947
3,Abin Sur,good,50,90,53,64,84,65,406,22.687597,-2.300559
4,Abomination,bad,63,80,53,90,55,95,436,21.462152,-6.880973
...,...,...,...,...,...,...,...,...,...,...,...
608,Yellowjacket,good,88,10,12,28,12,14,164,-5.195083,9.536632
609,Yellowjacket II,good,50,10,35,28,31,28,182,-1.143898,8.382370
610,Ymir,good,50,100,27,100,83,28,388,19.958939,-3.709136
611,Zatanna,good,75,10,23,28,100,56,292,8.104486,9.869619
612,Zoom,bad,50,10,100,28,72,28,288,14.969898,9.719926

In [32]:
from plotnine import *; 
p = (ggplot(tsne, aes("X1", "X2")) +
  geom_point(aes(color="Alignment")))

In [33]:
ggsave(p, 'figures/tsne.png')

/usr/local/lib/python3.8/dist-packages/plotnine/ggplot.py:727: PlotnineWarning: Saving 6.4 x 4.8 in image.
/usr/local/lib/python3.8/dist-packages/plotnine/ggplot.py:730: PlotnineWarning: Filename: figures/tsne.png